<div class="large-12 columns">
    <div class="large-12 columns">
        <fieldset ng-repeat="(key, value) in cines | groupBy: 'franquicia'">
            <legend>{{key}}</legend>
            <div  class="large-2 medium-4 small-6 columns a" 
                  ng-repeat="cine in value" 
                  ui-sref="site.cine({idcine:cine.$id})">
                <span class="large-12"></span>
                <img ng-src="{{cine.imagenes[0]}}">
                <div class="panel hide-for-small">
                    <span class="subheader">
                        <rating value="cine.estrellas" 
                                max="5" readonly="true"
                                state-on="'fi-star'">
                        </rating>
                    </span>
                    <br/>
                    <span>{{cine.nombre}}</span>
                </div>
            </div>
        </fieldset>
        <span class="clearfix">
            <br/>
        </span>
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <div class="row">

                        <div class="large-2 hide-for-small columns">
                            <img src="http://placehold.it/300x300&text=mapa">
                        </div>

                        <div class="large-10 small-12 columns">
                            <strong>Mas cerca de mi.</strong>
                            <hr/>
                            Ubique la sala de cine reproduciendo la pelicula que desea mas cerca de su usted con un click <a href="#">aqui</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
